*{
  overflow-x: hidden;
}

body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}

.col .head {
  text-align: center;
}

.text {
  text-align: center;
}

.about-header {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.short-hr {
  width: 50px;
  border: 2px solid #000;
  margin: 0 auto;
}

.header-h2 {
  text-align: center;
  font-size: 28px;
  margin-top: 20px;
}

.head-word {
  text-align: center;
  font-size: 16px;
  margin-bottom: 40px;
}

.row {

  justify-content: center;
  text-align: center;
}

.col-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.head {
  font-size: 18px;
  font-weight: bold;
}

.text {
  font-size: 14px;
}

.promoSection {
  margin: 5rem 7rem;
  height: 100%;
}

.hero-section-new {
  padding: 50px 20px;
  text-align: center;
  position: relative;
  z-index: 2;
  height: 100%;
}

.hero-section-new h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero-section-new p {
  font-size: 18px;
  margin-bottom: 30px;

}

.cta-button-new {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #fff;
  border: solid;
}

.cta-button-new:hover {
  background-color: #000;
  color: #fff;
}

.video-section {
  position: relative;
  width: 100%;
  /* height: 100%; */
}

.video-wrapper {
  position: relative;
  cursor: pointer;
}


.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 aspect ratio */
  cursor: pointer;
}

.video-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-wrapper.playing::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-wrapper.playing::before::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid #ff0000;
  transform: translateX(-2px);
}

.video-controls {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  color: #fff;
  z-index: 3;
}

.play-pause-button {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-pause-button::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 18px;
  border-color: transparent transparent transparent #fff;
}

.video-progress {
  flex-grow: 1;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  margin: 0 10px;
  position: relative;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: #fff;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.video-time {
  font-size: 14px;
}

.blur-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* Hide video controls */
.video-wrapper video::-webkit-media-controls {
  display: none !important;
}

.video-wrapper video::-webkit-media-controls-enclosure {
  display: none !important;
}

.video-wrapper video::-webkit-media-controls-panel {
  display: none !important;
}

.xrpSection {
  margin: 5rem 7rem;
  height: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;

}

.xrpImage img {
  height: 55vh;
  width: 100%;

  border-radius: 10px;
}

.section-new {
  justify-content: center;
  text-align: center;
  margin: auto;
}

.Dev h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 35px;
}


@media screen and (max-width: 1024px) {
  .hero-section-new h1 {
    font-size: 26px;
    margin-bottom: 10px;
  }

  .hero-section-new p {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .cta-button-new {
    font-size: 18px;
    padding: 5px 10px;
    background-color: #fff;
    border: solid;
  }

  .xrpImage img {
    height: 35vh;
    width: 100%;
    border-radius: 10px;
  }

  .section-new h2 {
    font-size: 26px;
    margin-bottom: 5px;
  }

  .section-new p {
    font-size: 15px;
    margin-bottom: 5px;
  }

  .Dev h1 {
    font-size: 26px;
  }
}

@media screen and (max-width: 768px) {
  .hero-section-new h1 {
    font-size: 26px;
    margin-bottom: 10px;
  }

  .hero-section-new {
    padding: 0px 0px 20px 0px;
    text-align: center;
    position: relative;
    z-index: 2;
    height: 100%;
  }

  .hero-section-new p {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .cta-button-new {
    font-size: 18px;
    padding: 5px 10px;
    background-color: #fff;
    border: solid;
  }

  .xrpImage img {
    height: 35vh;
    width: 100%;
    border-radius: 10px;
  }

  .section-new h2 {
    font-size: 26px;
    margin-bottom: 5px;
    margin-top: 20px;
  }

  .section-new p {
    font-size: 15px;
    margin-bottom: 5px;
  }

  .Dev h1 {
    font-size: 26px;
  }

  .col-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 25px 60px;
    margin-bottom: 15px;
    margin-right: 15px;
  }
}

@media screen and (max-width: 425px) {
  .xrpImage img {
    height: 15vh;
    width: 100%;
    border-radius: 10px;
  }
}


@media (min-width: 320px) and (max-width: 376px) {
  .promoSection, .xrpSection {
    padding: 1rem;
    margin: 1rem 2rem;
  }

  .promoSection .row, .xrpSection .row {
    flex-direction: column;
    align-items: center;
  }

  .promoSection .col-lg-6, .xrpSection .col-lg-6 {
    width: 100%;
    margin-bottom: 1rem;
  }

  .hero-section-new h1, .section-new h2 {
    font-size: 1.5rem;
  }

  .hero-section-new p, .section-new p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .cta-button-new {
    width: 80%;
    margin: 0 auto;
    padding: 0.5rem;
    font-size: 1rem;
  }

  .video-section {
    flex-direction: column;
    align-items: center;
  }

  .video-wrapper, .video-wrapper video {
    width: 100%;
    height: auto;
  }

  .video-controls {
    margin-top: 0.5rem;
  }

  .play-pause-button {
    font-size: 1rem;
  }

  .video-time {
    font-size: 0.8rem;
    margin-left: 0.5rem;
  }

  .xrpImage img {
    width: 100%;
    height: auto;
  }
}