#contact {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info {
    flex: 1 1 45%;
    padding: 20px;
    text-align: left;
    color: #333;
    margin: auto     1rem ;
}

.contact-info h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.contact-info i {
    font-size: 1.2rem;
    margin-right: 10px;
    color: #333;
}

.contact-info p {
    font-size: 1rem;
    margin-bottom: 10px;
    line-height: 1.5;
}

.contact-fields {
    flex: 1 1 45%;
    padding: 20px;
    text-align: left;
}

.contact-fields form div {
    margin-bottom: 15px;
}

.contact-fields label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.contact-fields input[type="text"],
.contact-fields input[type="email"],
.contact-fields textarea,
.contact-fields select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    background-color: #fff;
    transition: border-color 0.3s;
}

.contact-fields input[type="text"]:focus,
.contact-fields input[type="email"]:focus,
.contact-fields textarea:focus,
.contact-fields select:focus {
    border-color: #333;
    outline: none;
    box-shadow: 0 0 5px rgba(51, 51, 51, 0.2);
}

.contact-fields textarea {
    height: 100px;
}

.contact-fields button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    color: #000;
    border: solid 1px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;

}

.contact-fields button[type="submit"]:hover {
    background-color: #000;
    color: #fff;
}

.error-message {
    color: red;
    display: none;
    font-size: 0.9rem;
}

.short-hr {
    border: none;
    height: 1px;
    background-color: #333;
    width: 50%;
    margin: 0 auto 20px;
}

@media (max-width: 768px) {
    .contact-form {
        flex-direction: column;
        align-items: center;
    }

    .contact-info,
    .contact-fields {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    .contact-fields form div {
        text-align: left;
    }
}
