.feedback-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;

}

.feedback-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.feedback-info {
    font-size: 14px;
    margin-bottom: 10px;
}

.feedback-message {
    font-size: 16px;
}

.rating {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.rating span {
    margin-right: 5px;
}

.rating img {
    width: 20px;
    height: 20px;
}