/* projects section */
body {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
}

#intro {
    text-align: center;
}

#intro h1 {
    font-size: 2em;
    margin: 3rem 0;
}

#intro p {
    margin-top: 3rem;
    font-size: 0.8em;
    margin-bottom: 3rem;
}

.searchSection {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 1px auto;
    height: 3rem;
    border-radius: 1rem;
    border: solid gray;
    align-items: center;
    width: 75%;

}

.searchField {
    width: 100%;
    margin: 1rem;
    outline: none;
    border: none;
    font-weight: 500;
    background: transparent;

}

.material-symbols-outlined {
    font-size: 25px;
    margin: 1rem;
}

/* Projectipn Section */

.projectSection {
    margin: 1rem auto;
    justify-content: center;
    align-items: center;
    width: 80%;

}

.projectSection .row {
    width: 100%;
}

.projectSection img {
    height: 40vh;
    width: 100%;

}

.projectSection .kcontainer {
    position: relative;
    margin: 4px;
}

.projectSection .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: 0.6s ease-in-out;
    transform: translateY(30px);
}

.projectSection .kcontainer:hover .overlay {
    opacity: 1;
    cursor: pointer;
    transform: translateY(0px);

}

.projectSection .kcontainer img {
    transition: filter 0.6 ease ease-in-out;
}

.projectSection .kcontainer:hover img {
    filter: brightness(30%);
}

.projectSection .progress {
    width: 100%;
    color: #009970;
}

.projectSection .viewmore {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.projectSection .viewmore p {
    right: 0;
    margin: 1rem 0;
    text-align: center;
}

.projectSection .viewmore p:hover {
    cursor: pointer;
}

@media only screen and (min-width: 992px) {
    .projectSection .kcontainer {
        flex: 0 0 calc(33.33% - 8px);

    }
}

@media only screen and (max-width: 991px) {
    .projectSection .kcontainer {
        flex: 0 0 calc(50% - 8px);

    }
}

@media only screen and (max-width: 767px) {
    .projectSection .kcontainer {
        flex: 0 0 calc(100% - 8px);

    }
}