#investModal .btn-close-invest {
    color: #fff;
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#investModal .btn-close-invest:hover {
    color: #ccc;
}

#investModal .invest-container {
    margin-top: 20px;
}

#investModal label {
    display: block;
    margin-bottom: 5px;
}

#investModal input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#investModal .processed-btn {
    width: 100%;
    background-color: #009970;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#investModal .processed-btn:hover {
    background-color: #007a5e;
}
