.modal {
    margin-top: 40px;
}

/* .input-group > input{
    border-radius: 20px;
} */

.modal-content{
    
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 0 8px 32px 0 black;
    color: white;
}


.modal-body .btn-close {
    position: absolute;
    top: 30px;
}

.login-container {
    padding: 70px;
}

.login-container h2 {
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #009970;
}

.input-group {
    position: relative;
    width: 100%;

}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    margin-top: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px 30px 10px 10px;
    border: 1px solid #ccc;
    background-color: transparent;
    color: white;
    

}

.input-group select {
    width: 100%;
    padding: 10px 30px 10px 10px;
    border: 1px solid #ccc;
    background-color: transparent;
}

.checkbox-group {
    margin-bottom: 15px;
}

.checkbox-group input {
    margin-right: 5px;
}

.forgot-password {
    display: block;
    text-align: right;
    margin-bottom: 15px;
    text-decoration: none;
    color: #009970;
    font-size: 14px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #009970;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #00b383;
}

.input-group .fas {
    position: absolute;
    top: 70%;
    right: 10px;
    transform: translateY(-50%);
    color: #ccc;
}

.input-group input[type="text"]:focus+.fas,
.input-group input[type="password"]:focus+.fas {
    color: #009970;
}

.login-container p {
    font-size: 0.8em;
    text-align: center;
    margin-top: 15px;
}

.login-container p a {
    font-size: 1em;
    color: #009970;
    text-decoration: none;
    padding: 2px;
}

.login-container p a:hover {
    text-decoration: underline;
}

.modal-body .modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    overflow: auto;

}


#confirmationModal .modal-content {
    /* background-color: #009970; */
    background-color: white;
    color: black;
    padding: 50px;
    border: 1px solid black;
    width: 100%;
    border-radius: 15px;
    height: auto;
    text-align: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 220px;

}


#confirmationModal .btn-group {
    text-align: center;
    margin: auto;

}

#confirmationModal button {
    cursor: pointer;
    border-radius: 10px;
    margin-left: 30px;
    border: 0;
    padding-left: 15px;
    padding-right: 15px;
}

#confirmationModal button:first-child {
    background-color: #00b383;
    color: white;
}

/* #confirmationModal button:last-child {
    background-color: red;
} */

#confirmationModal button:hover {
    background-color: #ddd;
    color: black;
}



