.modal {
    top: 30%;
}

.modal-dialog {
    width: 80%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;

}

.modal-content {
    padding: 20px;
}

.modal-body .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-left: 10px;
    background-color: none;
}

.modal-body .btn-close:hover{
    background-color: none;
    color: none;
}

.modal .Button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.modal .Button .yes-btn,
.modal .Button .cancel-btn {
    width: 80px;
    padding: 10px;
    border-radius: 5px;
    margin: 0 10px;
}

.modal .Button .yes-btn {
    background-color: #009970;
    border: none;
}

.modal .Button .cancel-btn {
    background-color: #EB5757;
    border: none;
}

.logout-container h4 {
    text-align: center;
}



/* CSS */
#alertModal {
    text-align: center;
    background-color: transparent;
}

#alertModal .modal-content {
    background-color: #009970;
    border-radius: 25px;
}

#alertModal .modal-body {
    padding: 20px;
    
}

#alertModal .modal-footer {
    justify-content: center;
    border-top: none;
}

#alertModal .btn-primary {
    background-color: black;
    border: 0;
    color: white;
}

#alertModal .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
