body {
    font-family: "Times New Roman", Times, serif;
    margin: 20px;
}
h1{
    text-align: center;
    margin-top: 20px;
}
hr{
    margin-bottom: 40px;
}
.view-more-btn {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #fff;
    color: #000;
    border: solid;
    border-radius: 5px;
    cursor: pointer;
}
.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #007BFF;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
    display: none;
}

/* CSS for Transaction Page */

/* Flex container for transactions */
#transactions {
    display: flex;
    flex-wrap: wrap; /* Allow transactions to wrap into multiple rows */
    gap: 20px; /* Gap between transaction items */
}

/* Style for each transaction */
.transaction {
    width: calc(50% - 10px); /* Each transaction takes up 50% of the container width with a 20px gap in between */
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transform-style: preserve-3d;
    transition: 0.5s;
    backface-visibility: hidden;
}


.view-more-btn:hover {
    background-color: #000;
    color: #fff;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Responsive layout for smaller screens */
@media screen and (max-width: 768px) {
    #transactions {
        flex-direction: column; /* Change flex direction to column for smaller screens */
    }

    .transaction {
        width: 100%; /* Each transaction takes up full width on smaller screens */
    }
}