body {
    font-family: 'Times New Roman', Times, serif;
}

.projectSection {
    justify-content: center;
    margin: 5rem auto;
    max-width: 1400px;
    padding: 20px;
    background-color: #ffffff;
}

.projectSection h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #444;
}

.imageClass img {
    width: 100%;
    height: 55vh;
}

.detailsClass {
    flex: 1;
    margin-left: 2rem;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
}

.detailsClass h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #555;
}

.detailsClass .walletAddress {
    padding: 0;
}

.detailsClass .walletAddress .heading {
    margin-top: 1rem;
    font-size: 20px;
    font-weight: bold;
}

.detailsClass .walletAddress p {
    margin-top: -15px;
    font-size: 15px;
    /* Adjust this value to set the desired space */
}

.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}

.progress-bar-fill {
    height: 20px;
    background-color: #1ec968;
    text-align: center;
    color: white;
    line-height: 20px;
    transition: width 0.4s ease;
}

.projectSection button {
    background-color: #fff;
    border: solid 1px;
    color: #000;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 1rem;
    width: 100%;
}

.projectSection button:hover {
    background-color: #000;
    color: #fff;
}

.projectSection button:active {
    background-color: #000;
    color: #fff;
}

.hr {
    margin: auto;
    margin-top: 3rem;
    width: 75rem;
}

.projectDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;

}

.projectDescription p {
    margin: auto;
    padding: 20px;
    max-width: 1500px;
    font-size: 1rem;
    color: #444;
}


#transactionOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    max-width: 1600px;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: 80%;
}

.overlay-content p {
    margin-bottom: 10px;
    font-size: 16px;
}

.overlay-content hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

/* Base styles for the transaction table */
.transaction-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.transaction-table th,
.transaction-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.transaction-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.transaction-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.transaction-table tr:hover {
    background-color: #ddd;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .transaction-table {
        width: 100%;
    }
}