.ratecontainer{
    width: 50%;
    /* height: 50vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}
.progress-bar{
    background: #fff;
    width: 500px;
    height: 10px;
    border-radius:5px;
    border: 1px solid black;
    margin-left: 24%;
}
.progress-bar div{
    height: 10px;
    border-radius: 5px;
    width: 50%;
    background: #009970;
}
.progress-bar div span{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.html{
    /* background: #e91e63; */
    animation: html 1s linear forwards;
}
@keyframes html{
    100%{
        width: 86%;
    }
}
.ratecontainerother{
    width: 30%;
    /* height: 50vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}
.otherprogress-bar{
    background: #fff;
    width: 250px;
    height: 10px;
    border-radius:5px;
    border: 1px solid black;
    margin-left: 28%;
}
.otherprogress-bar div{
    height: 10px;
    border-radius: 5px;
    width: 50%;
    background: #009970;
}
.otherprogress-bar div span{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.htmlother{
    /* background: #e91e63; */
    animation: htmlother 1s linear forwards;
}
@keyframes htmlother{
    100%{
        width: 86%;
    }
}