.signup-container {
    padding: 70px;
    /* margin-bottom: 100px; */
}

.signup-container h2 {
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #009970;
}


.input-group input[type="text"]:focus+.fas,
.input-group input[type="password"]:focus+.fas {
    color: #009970;
}



.checkbox-group {
    margin-bottom: 15px;
}

.checkbox-group input {
    margin-right: 5px;
}

.checkbox-group label {
    font-size: 14px;
}

.signup-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #009970;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 40px;
}

.signup-btn:hover {
    background-color: #00b383;
}

.signup-container p {
    font-size: 0.8em;
    text-align: center;
    margin-top: 15px;
}

.signup-container p a {
    font-size: 1em;
    color: #009970;
    text-decoration: none;
    padding: 2px;
}


.signup-container p a:hover {
    text-decoration: underline;
}


.error-message {
    background-color: white;
    color: red;
    padding: 50px;
    border: 1px solid black;
    width: auto;
    border-radius: 15px;
    height: auto;
    text-align: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 220px;
    display: none;
    z-index: 9999;
}


.error-message.show {
    display: block;
    /* Show error message */
}

.success-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #32CD32;
    /* Green color for success */
    color: #fff;
    text-align: center;
    z-index: 9999;
    /* Ensure it's above other elements */
    display: none;
    /* Initially hidden */
}

.success-message.show {
    display: block;
    /* Show success message */
}
