body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
}

.overlay-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 800px;
}

.close-overlay,
.close-invest {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    max-width: 90%;
}

.loading-animation {
    text-align: center;
}

.loading-animation .spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Success Modal Content */
#successMessageContent {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  /* Error Modal Content */
  #errorMessageContent {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  /* Individual Button Styles */
.approve-button,
.rejected-button,
.view-button,
.delete-button {
  padding: 0.5rem 1rem; /* Adjust padding as needed */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #fff;
  color: #000;
  border: solid #000;

}

/* Button Hover Effects */
.approve-button:hover{
    background-color: green;
    color: #fff;
}
.rejected-button:hover{
    background-color: rgb(225, 71, 71);
    color: #fff;
}
.view-button:hover{
    background-color: rgb(47, 136, 225);
    color: #fff;
}
.delete-button:hover {
  background-color: rgb(225, 71, 71);
  color: #fff;
}